.planet-image {
  width: 260px;
}
.planet-name {
  font-family: 'Roboto';
  color: #f1f5f9;
  font-size: 26px;
}
.about-planet {
  font-family: 'Roboto';
  color: #f8fafc;
  font-size: 16px;
  text-align: center;
}
.planets-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}
@media screen and (min-width: 768px) {
  .planet-image {
    width: 420px;
  }
  .planet-name {
    font-size: 32px;
  }
  .about-planet {
    font-size: 18px;
  }
}
